/* Full body page */

* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Arial, sans-serif;
}

/* All Icons */
.icons {
  height: 1.875rem;
  margin: 1.25rem;
}

/* Header Section  */
header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  padding-left: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}

header h3 {
  color: #335576;
  margin-left: 1.25rem;
}

header nav {
  margin-right: 3.75rem;
}

header ul {
  display: flex;
  list-style-type: none;
}

header li {
  padding: 0px 0.9375rem;
}

a:link {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

a:visited {
  color: #000000;
}

.header__nav--orange {
  border-bottom: 2px solid #db7a4e;
  padding-bottom: 5px;
}

/* Footer section */

footer {
  display: flex;
  justify-content: center;
  background-color: #fefaf5;
  width: 100%;
}

footer h2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #335576;
}

footer h5 {
  margin-bottom: 0.625rem;
  color: #db7a4e;
  font-weight: normal;
}

footer p {
  margin-bottom: 0.625rem;
  color: #335576;
}

footer section {
  margin: 2.5rem 2.5rem;
}

.hours__section {
  display: flex;
}

.hours__section div {
  margin-right: 2.5rem;
}
